<link rel="stylesheet" href="/CSS/categories.css">

 
<div class="navbar-container">
  <button id="btnLeft" class="arrow" type="button" aria-label="left">◀</button>

  <div id="scrollTrack">
    <!-- make sure there are enough items to overflow -->
    <div class="nav-item">
        <i class="fa-solid fa-fire"></i>
        <span>Trending</span>
      </div>
      <div class="nav-item">
        <i class="fa-solid fa-campground"></i>
        <span>Camping</span>
      </div>
      <div class="nav-item">
        <i class="fa-solid fa-bed"></i>
        <span>Rooms</span>
      </div>
      <div class="nav-item">
        <i class="fa-solid fa-mountain"></i>
        <span>Mountain</span>
      </div>
      <div class="nav-item">
        <i class="fa-solid fa-snowflake"></i>
        <span>Arctic</span>
      </div>
      <div class="nav-item">
        <i class="fa-solid fa-person-swimming"></i>
        <span>Amazing Pools</span>
      </div>
      <div class="nav-item">
        <i class="fa-solid fa-house"></i>
        <span>Domes</span>
      </div>
      <div class="nav-item">
        <i class="fa-solid fa-cow"></i>
        <span>Forms</span>
      </div>
      <div class="nav-item">
        <i class="fa-solid fa-tent"></i>
        <span>A-frames</span>
      </div>
      <div class="nav-item">
        <i class="fa-solid fa-ship"></i>
        <span>Boats</span>
      </div>
            <div class="nav-item">
        <i class="fa-solid fa-snowflake"></i>
        <span>Arctic</span>
      </div>
      <div class="nav-item">
        <i class="fa-solid fa-house"></i>
        <span>Domes</span>
      </div>
      <div class="nav-item">
        <i class="fa-solid fa-cow"></i>
        <span>Forms</span>
      </div>
      <div class="nav-item">
        <i class="fa-solid fa-tent"></i>
        <span>A-frames</span>
      </div>
      <div class="nav-item">
        <i class="fa-solid fa-ship"></i>
        <span>Boats</span>
      </div>
      
  </div>

  <button id="btnRight" class="arrow" type="button" aria-label="right">▶</button>
         <!-- toggel switch btn -->
    <div class="tax-toggle">
     <div class="form-check-reverse form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="switchCheckDefault">
        <label class="form-check-label" for="switchCheckDefault">Display taxes</label>
     </div>
    </div>
</div>
<script src="/js/categoryNav.js"></script>
