

<nav id="navbar" class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
      <a class="navbar-brand" href="/"><i class="fa-solid fa-compass" id="fa-compass"></i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" >
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- this is left side nav bar -->
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
           <a class="nav-link "  href="/">Home</a>
           <a class="nav-link" href="/Listing">All Listings</a>
           <a class="nav-link" href="/Listing/new">Add New Listing</a> 
         </div>
       </div>

       <!-- this is right side nav bar (login, logout, singup) -->
        <div class="navbar-nav ms-auto">
          <% if(!currUser) { %>
          <a class="nav-link "  href="/login">Login</a>
          <a class="nav-link" href="/signup">Signup</a>
          <% } %>
          <% if(currUser) { %>
          <a class="nav-link" href="/logout">Logout</a> 
          <% } %>
        </div>
 
    </div>
  </nav>