<% layout("/layouts/boilerplate") %>

    <body>
        <h3>Create New Listing</h3>
        <form action="/Listing" method="post" novalidate class="needs-validation">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" name="listing[title]" placeholder="enter title" class="form-control" required />
                <div class="valid-feedback">Title looks good!</div>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea name="listing[description]" placeholder="enter description" class="form-control" required></textarea>
                <div class="invalid-feedback">please enter a short Description</div>
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">Image Link</label>
                <input type="text" name="listing[image.url]" placeholder="enter image" class="form-control" />
            </div>
            <div class="mb-3">
                <label for="price" class="form-label">Price</label>
                <input   name="listing[price]" placeholder="enter price" class="form-control" required />
                <div class="invalid-feedback">Please enter valid price</div>
            </div>
            <div class="mb-3">
                <label for="location" class="form-label">Location</label>
                <input type="text" name="listing[location]" placeholder="enter location" class="form-control" required />
                <div class="invalid-feedback">Locatin should be valid</div>
            </div>
            <div class="mb-3">
                <label for="country" class="form-label">Country</label>
                <input type="text" name="listing[country]" placeholder="enter country" class="form-control" required />
                <div class="invalid-feedback">Country name should be valid</div>
            </div>
            <br /><br />
            <button class="btn btn-dark">Add</button>
        </form>
    </body>